/* body {

} */

.base {
    background-color: gray;
    width: 960px;
    margin: 0 auto;
}

.title-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: black;
    height: 150px;
}

.title-img {
    
}

h1 {
    color: white;
}
