.base {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 150px 250px 350px 50px;
    /* grid-gap: 1rem; */
    grid-template-areas:
    "header header"
    "aside  aTable"
    "aside  aMap"
    "footer footer"
}

.month-dropdown, .dataTable, .map, .footer {
    padding: 1rem;

}

.dropdown-content {
    margin-bottom: 20px;
}

.table {
    margin-top: 25px;
}

.title-header {
    grid-area: header;

}

.month-dropdown {
    grid-area: aside;
}

.table {
    grid-area: aTable;

}

.map {
    grid-area: aMap;

}

.footer {
    grid-area: footer;
}
