.base {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 150px 1fr 1fr 50px;
    grid-template-areas:
    "header header"
    "aside  aTable"
    "aside  aMap"
    "footer footer"
}

.title-header {
    grid-area: header;

}

.month-dropdown {
    grid-area: aside;
}

.dataTable {
    grid-area: aTable;

}

.map {
    grid-area: aMap;
}

.footer {

    /* width: 960px; */
    margin: 15px;
}
